Decision Tree Regression

In [2]:
from warnings import filterwarnings
filterwarnings ('ignore')

Read Data set

In [3]:
import pandas as pd
df= pd.read_csv('50_Startups (1).csv')
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [5]:
df.isna().sum()

RND       0
ADMIN     0
MKT       0
STATE     0
PROFIT    0
dtype: int64

Preprocessing

In [6]:
##separate x and y
x = df.drop(labels=['PROFIT'],axis=1)
y = df[['PROFIT']]

In [7]:
x.head()

         RND      ADMIN        MKT       STATE
0  165349.20  136897.80  471784.10    New York
1  162597.70  151377.59  443898.53  California
2  153441.51  101145.55  407934.54     Florida
3  144372.41  118671.85  383199.62    New York
4  142107.34   91391.77  366168.42     Florida

In [7]:
y.head()

      PROFIT
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

## Pipeline
1. con : simple imputer mean,median ; standardscaler
2. cat : simple imputer most frequent ; onehotencoder

In [8]:
cat = list(x.columns[x.dtypes=='object'])
con = list(x.columns[x.dtypes!='object'])

In [9]:
cat

['STATE']

In [10]:
con

['RND', 'ADMIN', 'MKT']

In [11]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer

In [12]:
num_pipe = Pipeline(steps=[('imputer',SimpleImputer(strategy='mean')),
                           ('scaler',StandardScaler())])

cat_pipe = Pipeline(steps=[('imputer',SimpleImputer(strategy='most_frequent')),
                           ('ohe',OneHotEncoder(handle_unknown='ignore'))])

pre = ColumnTransformer([('con',num_pipe,con),
                         ('cat',cat_pipe,cat)])

In [13]:
x_pre = pre.fit_transform(x)
x_pre[0:5]

array([[ 2.01641149,  0.56075291,  2.15394309,  0.        ,  0.        ,
         1.        ],
       [ 1.95586034,  1.08280658,  1.9236004 ,  1.        ,  0.        ,
         0.        ],
       [ 1.75436374, -0.72825703,  1.62652767,  0.        ,  1.        ,
         0.        ],
       [ 1.55478369, -0.09636463,  1.42221024,  0.        ,  0.        ,
         1.        ],
       [ 1.5049372 , -1.07991935,  1.28152771,  0.        ,  1.        ,
         0.        ]])

In [14]:
cols = pre.get_feature_names_out()
cols

array(['con__RND', 'con__ADMIN', 'con__MKT', 'cat__STATE_California',
       'cat__STATE_Florida', 'cat__STATE_New York'], dtype=object)

In [15]:
x_pre = pd.DataFrame(x_pre,columns=cols)
x_pre.head()

,con__RND,con__ADMIN,con__MKT,cat__STATE_California,cat__STATE_Florida,cat__STATE_New York
0,2.016411,0.560753,2.153943,0.0,0.0,1.0
1,1.955860,1.082807,1.923600,1.0,0.0,0.0
2,1.754364,-0.728257,1.626528,0.0,1.0,0.0
3,1.554784,-0.096365,1.422210,0.0,0.0,1.0
4,1.504937,-1.079919,1.281528,0.0,1.0,0.0

tarin test split

In [16]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split(x_pre,y,test_size=0.2,random_state=21)

In [17]:
xtrain.shape

(40, 6)

In [19]:
xtest.shape

(10, 6)

Create The Model

In [28]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
dtr.fit(xtrain,ytrain)

DecisionTreeRegressor()

In [29]:
# for training r2 score
dtr.score(xtrain,ytrain)

1.0

In [30]:
# testing 
dtr.score(xtest,ytest)

0.8981630707572709

Tunning The Model

In [31]:
params = {'max_depth':[2,3,4,5,6,7,],
          'min_sample_leaf':[6,7,8,9,10,11,12],
          'criterion':['squared_error','absolute_error']}

In [32]:
from sklearn.model_selection import GridSearchCV
model = DecisionTreeRegressor(random_state=42)
gscv = GridSearchCV(model,param_grid=params,cv=5,scoring='neg_mean_squared_error')
gscv.fit(xtrain,ytrain)

ValueError: Invalid parameter 'min_sample_leaf' for estimator DecisionTreeRegressor(max_depth=2, random_state=42). Valid parameters are: ['ccp_alpha', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'min_impurity_decrease', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'random_state', 'splitter'].

In [33]:
gscv.best_params_

AttributeError: 'GridSearchCV' object has no attribute 'best_params_'

In [34]:
gscv.best_score_

AttributeError: 'GridSearchCV' object has no attribute 'best_score_'

In [36]:
best_dtr = gscv.best_estimator_
best_dtr

AttributeError: 'GridSearchCV' object has no attribute 'best_estimator_'

Evaluate R2 in training and Testing

In [37]:
best_dtr.score(xtrain,ytrain)

NameError: name 'best_dtr' is not defined

In [39]:
best_dtr.score(xtest,ytest)

NameError: name 'best_dtr' is not defined

Plotting the base model Desicion tree

In [41]:
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt
plt.figure(figsize=(15,15))
plot_tree(dtr,filled=True,feature_names=(xtrain.columns)max_depth=2)
plt.show()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2557117371.py, line 4)

Feature Importances

In [42]:
imp= dtr.feature_importances_
imp

array([8.74230370e-01, 5.92541454e-03, 1.11835093e-01, 1.63560952e-03,
       6.33152774e-03, 4.19857243e-05])

In [43]:
imp = pd.series(imp)
imp.index = xtrain.columns
imp

AttributeError: module 'pandas' has no attribute 'series'

In [44]:
imp = imp.sort_values(ascending=False)
imp

AttributeError: 'numpy.ndarray' object has no attribute 'sort_values'

In [46]:
imp.plot(kind='bar',title='feature importances')

AttributeError: 'numpy.ndarray' object has no attribute 'plot'